@page
@model WebApplication1.Areas.Admin.Pages.ArticleManagement.IndexModel
@{
}

<div class="card">
    <div class="card-header">
        <h3 class="float-left">Article List</h3>
        <div class="float-right">
            <a class="btn btn-success" asp-page="./Create" asp-area="">Add New</a>
        </div>
    </div>
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Article Category</th>
                    <th>Status</th>
                    <th>CreationDate</th>
                    <th>Operations</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var article in @Model.Articles)
                {
                    <tr>
                        <td>@article.Id</td>
                        <td>@article.Title</td>
                        <td>@article.ArticleCategoryId</td>
                        <td>
                            @if (article.IsDeleted)
                            {
                                <p>&#10060;</p>
                            }
                            else
                            {
                                <p>&#9989;</p>
                            }
                        </td>
                        <td>@article.CreationDateTime</td>
                        <td>
                            <a class="btn btn-warning float-left mr-3" asp-page="./Edit" asp-route-id="@article.Id">Edit</a>
                            @if (article.IsDeleted)
                            {
                                <form method="post" asp-page-handler="Activate" class="float-left">
                                    <button class="btn btn-success">Activate</button>
                                    <input type="hidden" name="id" value="@article.Id" />
                                </form>
                            }
                            else
                            {
                                <form method="post" asp-page-handler="Remove" class="float-left">
                                    <button class="btn btn-danger">Remove</button>
                                    <input type="hidden" name="id" value="@article.Id" />
                                </form>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
